In [3]:
import pandas as pd
import numpy as np

In [24]:
df1 = pd.read_csv('../extracted_data/updated_testData.csv')

In [26]:
print(df1.shape)

(5075, 16800)

In [28]:
test_labels = pd.read_csv('../Mining_DataSet/testLabels/testLabels.csv', header = None)
test_labels.columns = ['MM263', 'MM264', 'MM256']
print(test_labels.shape)

(5076, 3)

In [30]:
# Concatenating training_labels1 to feature_df
df1_with_labels = pd.concat([df1, test_labels], axis=1)

# Verifying the updated shapes after concatenation
print(df1_with_labels.shape)

(5076, 16803)

In [32]:
df1_with_labels.to_csv('../extracted_data/testDataFull.csv', index=False)

In [34]:
df1_with_labels.head()

,AN311_value_1,AN311_value_2,AN311_value_3,AN311_value_4,AN311_value_5,AN311_value_6,AN311_value_7,AN311_value_8,AN311_value_9,AN311_value_10,...,V_value_594,V_value_595,V_value_596,V_value_597,V_value_598,V_value_599,V_value_600,MM263,MM264,MM256
0,3.6,3.5,3.5,3.5,3.5,3.5,3.5,3.2,3.2,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,normal,normal,warning
1,4.2,4.2,4.2,4.2,4.3,4.3,4.3,4.3,4.3,4.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,normal,normal,normal
2,3.0,3.1,3.1,3.2,3.2,3.2,3.2,3.2,3.2,3.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,normal,normal,normal
3,3.7,3.7,3.7,3.7,3.7,3.7,3.7,3.7,3.8,3.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,normal,normal,normal
4,3.2,3.2,3.0,3.0,3.0,3.0,3.1,3.1,3.1,3.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,normal,normal,normal

In [36]:
df1_with_labels = pd.read_csv('../extracted_data/testDataFull.csv')

In [39]:
df1_with_labels.head()

,AN311_value_1,AN311_value_2,AN311_value_3,AN311_value_4,AN311_value_5,AN311_value_6,AN311_value_7,AN311_value_8,AN311_value_9,AN311_value_10,...,V_value_594,V_value_595,V_value_596,V_value_597,V_value_598,V_value_599,V_value_600,MM263,MM264,MM256
0,3.6,3.5,3.5,3.5,3.5,3.5,3.5,3.2,3.2,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,normal,normal,warning
1,4.2,4.2,4.2,4.2,4.3,4.3,4.3,4.3,4.3,4.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,normal,normal,normal
2,3.0,3.1,3.1,3.2,3.2,3.2,3.2,3.2,3.2,3.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,normal,normal,normal
3,3.7,3.7,3.7,3.7,3.7,3.7,3.7,3.7,3.8,3.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,normal,normal,normal
4,3.2,3.2,3.0,3.0,3.0,3.0,3.1,3.1,3.1,3.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,normal,normal,normal