In [2]:
!pip install py7zr

Requirement already satisfied: py7zr in /opt/anaconda3/lib/python3.12/site-packages (0.22.0)
Requirement already satisfied: texttable in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (1.7.0)
Requirement already satisfied: pycryptodomex>=3.16.0 in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (3.20.0)
Requirement already satisfied: pyzstd>=0.15.9 in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (0.16.1)
Requirement already satisfied: pyppmd<1.2.0,>=1.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (1.1.0)
Requirement already satisfied: pybcj<1.1.0,>=1.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (1.0.2)
Requirement already satisfied: multivolumefile>=0.2.3 in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (0.2.3)
Requirement already satisfied: inflate64<1.1.0,>=1.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (1.0.0)
Requirement already satisfied: brotli>=1.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (1.1.0)
Requirement already satisfied: psutil in /opt/anaconda3/lib/python3.12/site-packages (from py7zr) (5.9.0)

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
import pandas as pd

df1 = pd.read_csv('../Mining_DataSet/testData.csv')

NameError: name 'df' is not defined

In [6]:
# Display the first few rows of the DataFrame
df1.head()

,4.1,4.1.1,4.1.2,4.1.3,4.1.4,4.1.5,4.1.6,4.1.7,4.1.8,4.1.9,...,0.2511,0.2512,0.2513,0.2514,0.2515,0.2516,0.2517,0.2518,0.2519,0.2520
0,3.6,3.5,3.5,3.5,3.5,3.5,3.5,3.2,3.2,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4.2,4.2,4.2,4.2,4.3,4.3,4.3,4.3,4.3,4.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,3.1,3.1,3.2,3.2,3.2,3.2,3.2,3.2,3.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.7,3.7,3.7,3.7,3.7,3.7,3.7,3.7,3.8,3.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.2,3.2,3.0,3.0,3.0,3.0,3.1,3.1,3.1,3.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# Path to the .txt file containing the column names
column_names_file_path = '../Mining_DataSet/column_names.txt'

# Read the column names from the .txt file
with open(column_names_file_path, 'r') as file:
    column_names = file.read().strip().split()

# If the column names are comma-separated, use split(',') instead
# column_names = file.read().strip().split(',')

In [12]:
df1.columns = column_names

In [16]:
df1.head()

,AN311_value_1,AN311_value_2,AN311_value_3,AN311_value_4,AN311_value_5,AN311_value_6,AN311_value_7,AN311_value_8,AN311_value_9,AN311_value_10,...,V_value_591,V_value_592,V_value_593,V_value_594,V_value_595,V_value_596,V_value_597,V_value_598,V_value_599,V_value_600
0,3.6,3.5,3.5,3.5,3.5,3.5,3.5,3.2,3.2,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4.2,4.2,4.2,4.2,4.3,4.3,4.3,4.3,4.3,4.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,3.1,3.1,3.2,3.2,3.2,3.2,3.2,3.2,3.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.7,3.7,3.7,3.7,3.7,3.7,3.7,3.7,3.8,3.8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.2,3.2,3.0,3.0,3.0,3.0,3.1,3.1,3.1,3.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
df1.to_csv("updated_testData.csv", index=False)